# compiled output
dist
tmp
out-tsc

# dependencies
node_modules

# IDEs and editors
/.idea
.project
.vscode/*
!.vscode/settings.json

# misc
/coverage
npm-debug.log
yarn-error.log

# System Files
.DS_Store
Thumbs.db

# Nx
.nx/cache
.nx/workspace-data
